:80 {
        @frontendProd host cotizador.lat
        @frontendTest host test-web.cotizador.lat
        @apiProd host api.cotizador.lat
        @apiTest host test-api.cotizador.lat

        handle @frontendProd {
                header Cache-Control "public, max-age=0, must-revalidate"
                root * /srv/frontend-prod
                file_server
        }

        handle @frontendTest {
                header Cache-Control "public, max-age=0, must-revalidate"
                root * /srv/frontend-test
                file_server
        }

        handle @apiProd {
                reverse_proxy backend:3000
        }

        handle @apiTest {
                reverse_proxy cotizador-test-backend:3000
        }

        handle {
                respond "Not Found" 404
        }
}
